.valueButton {
    /*display: inline-block;*/
    /*border: 1px solid #ddd;*/
    /*margin: 0px;*/
    /*width: 40px;*/
    /*height: 20px;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*!*padding: 11px 0;*!*/
    /*background: #eee;*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none
}

.quantityInputValue {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 45px;
    height: 35px;
}

.dropdownStyling {
    margin-right: 120px;
    margin-top: -20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
