.valueButton {
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none
}

.quantityInputValue {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 45px;
    height: 35px;
}

.dropdownStyling {
    margin-right: 120px;
    margin-top: -10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.priceStyling {
    margin-left: 225px;
    font-size: 17px;
}
